*{
    margin: 0;
   
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

.center {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 2%;
    display: flex;
    flex-wrap: wrap;

}

.menu-mobile{
    display: none;
}


header{
    padding: 8px 0;
    border-bottom: 1px solid #16507b;
    background-image: url('../img/topo.jpg');
    background-repeat: no-repeat;

}
.logo{
    color: #16507b ;
}
.logo i{
    color: cornflowerblue;
}
.logo h2 a{
    font-weight: normal;
    font-size: 25px;
    color: rgb(67, 118, 230);
    text-decoration: none;
}

.logo p{
    font-weight: normal;
    font-size: 15px;
    color: cornflowerblue;
}
.menu{
    width: 80%;
    text-align: right;
}

.menu a{
    color: white;
    font-size: 14px;
    text-decoration: none;
    margin-right: 25px;
   /* transition: 3s;*/
}
.menu a:hover{
    color: #007bff;
}
.menu .btn-menu{
    background-color: rgb(12, 79, 167);
    display: inline-block;
    padding: 6px 12px ;
    color: white;
    border-radius: 8px;

}
.menu .btn-menu :hover{
    background-color: teal;
    color: white;
}

body {
    background-image: url('../img/fundo.jpg');   
    background-size:  cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
}

.contato {
    margin-top: 7%;
    text-align: center;
    color: black;
}
.contato h3 {
    color: darkblue;
}
.whatsapp i{
    color: green;
    font-size: 25px;
}
.telefone i {
    color: cadetblue;
    font-size: 25px;
}
.whatsapp p {
    color: black;
}
.prazer {
    text-align: center;
    color: darkblue;
    
}








.rodape {
    border-top: 1px solid #16507b;
    background-color: rgb(232, 243, 252);
    text-align: right;
    color: rgb(0, 0, 0);
}

.rodape p a {
    color:blue;
    text-decoration: none;
}
